@import "_variables";
@import "banner";
@import "facts";
@import "sneakers";
@import "explore";
@import "products";

* {
  box-sizing: border-box;
}

body{
	padding: 0;
	margin:0;
	border: 0;
}

img {
	max-width: 100%;
}

input, textarea {
	border: none;
	outline: none;
}

button {
	border: none;
}

a, a:visited {
	text-decoration: none;
	color: unset;
}

a:hover {
	text-decoration: none;
	color: unset;
}

ul li {
	list-style: none;
	display: block;
}

ul {
	margin: 0;
}

html {
	font-size: $fs-html + px;

	@media (max-width: 576px) {
		font-size: 22px;
	}

	@media (min-width: 577px) and (max-width: 768px) {
		font-size: 20px;
	}
}