@font-face {
	font-family: "Poppins-Bold";
	src: url("Poppins-Bold.ttf");
}

@font-face {
	font-family: "SourceSansPro-SemiBold";
	src: url("SourceSansPro-SemiBold.ttf");
}

@font-face {
	font-family: "SourceSansPro-Regular";
	src: url("SourceSansPro-Regular.ttf");
}